# Dependencias
node_modules/
pnpm-lock.yaml
package-lock.json

# Compilación y Salida
dist/
target/
*.class

# IDEs
.vscode/
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local

# Archivos de log
*.log

# Archivos de empaquetado
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
