/* ESTILOS ROOT */
:root {
  /* Tipografía y tamaños de fuente */
  --font-family: 'Roboto', sans-serif;
  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.75rem;
  /* Paleta de colores */
  --color-primary: #ff6347;
  --color-primary-accent: #ff4500;
  --color-secondary: #E1E4E3;
  --color-secondary-accent: #B3BCBC;
  --color-tertiary: #07B793;
  --color-tertiary-accent: #0ecda6;
  --color-background: #f0f0f0;
  --color-text: #333;
  --color-white: #fff;
  --color-border: #ddd;
  /* Efectos y animaciones */
  --border-box: 1px solid var(--color-border);
  --border-input: 2px solid var(--color-border);
  --border-radius: 5px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 4px 6px rgba(0, 0, 0, 0.3);
  --separation: 2rem;
  --transition-duration: .3s ease-in-out;
}

/* RESET DE ESTILOS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ESTILOS GENERALES */
html,
body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
  font-family: var(--font-family);
}

h1 {
  font-size: var(--font-size-xxl);
  color: var(--color-primary);
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

p,
label,
span,
li,
button {
  font-size: var(--font-size-base);
}

input,
textarea,
select {
  font-size: var(--font-size-sm);
  padding: 0.625rem;
  border: var(--border-input);
  border-radius: var(--border-radius);
}

/* BUTTONS */
.btn {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.btn__primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn__primary:hover {
  background-color: var(--color-primary-accent);
}

.btn__secondary {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.btn__secondary:hover {
  background-color: var(--color-secondary-accent);
}

.btn__tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

.btn__tertiary:hover {
  background-color: var(--color-tertiary-accent);
}

/* ---------------------------
    MAIN LAYOUT
   --------------------------- */

/* BODY */
.layout {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

/* Para páginas sin Sidebar */
.layout--no-sidebar {
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Para páginas sin Footer */
.layout--no-footer {
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

/* MAIN HEADER */
#main-header {
  grid-area: header;
  background-color: var(--color-white);
  padding: 1rem;
  border-bottom: var(--border-box);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.menu {
  display: flex;
  align-items: center;
  gap: var(--separation);
}

.menu__list {
  display: flex;
  gap: var(--separation);
  list-style: none;
}

.menu__item a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
  transition: color var(--transition-duration);
}

.menu__item a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* MAIN SIDEBAR */
#main-sidebar {
  grid-area: sidebar;
  background-color: var(--color-white);
  padding: var(--separation);
  display: flex;
  flex-direction: column;
  gap: var(--separation);
  border-right: var(--border-box);
  overflow-y: auto;
}

#main-sidebar h2 {
  color: var(--color-primary);
}

/* FOOTER */
#main-footer {
  grid-area: footer;
  background-color: var(--color-white);
  padding: 1rem;
  text-align: center;
  border-top: var(--border-box);
}

#main-footer p {
  font-size: var(--font-size-xs);
}

#main-footer a {
  text-decoration: none;
  color: var(--color-text);
  transition: color var(--transition-duration);
}

#main-footer a:hover {
  color: var(--color-primary);
}

/* ---------------------------
    LOGIN / REGISTER
   --------------------------- */

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-primary);
}

.auth-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: var(--separation);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: var(--border-box);
  margin: 1.25rem;
  min-width: 22rem;
}

.auth-card__title {
  text-align: center;
  margin-bottom: 0.625rem;
}

.auth-card__subtitle {
  text-align: center;
  margin-bottom: 1.25rem;
}

.auth-card__form {
  display: flex;
  flex-direction: column;
}

.auth-card__form label {
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.auth-card__form input,
.auth-card__form select {
  border: var(--border-input);
  border-radius: var(--border-radius);
  margin-bottom: 1.25rem;
  width: 100%;
}

.auth-card__form input:focus,
.auth-card__form select:focus {
  outline: none;
  border-color: var(--color-primary-accent);
}

.auth-card__form button {
  text-transform: uppercase;
  margin-top: 0.625rem;
}

.auth-card__switch-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1.25rem;
  font-size: 0.875rem;
}

.auth-card__switch-link a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  margin-left: 5px;
  font-size: var(--font-size-sm);
}

.auth-card__switch-link a:hover {
  text-decoration: underline;
}

/* ---------------------------
    SHOP
   --------------------------- */

/* ASIDE */
#lista-categorias li {
  list-style: none;
  margin-bottom: 0.5rem;
}

#lista-categorias li a {
  text-decoration: none;
  color: var(--color-text);
  transition: color var(--transition-duration);
}

#lista-categorias li a:hover {
  color: var(--color-primary);
}

/* CONTAINER */
.store-container {
  grid-area: main;
  padding: var(--separation);
  display: flex;
  flex-direction: column;
  gap: var(--separation);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

.search-bar {
  background-color: var(--color-white);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: calc(var(--separation)*-1);
  z-index: 1;
}

.search-bar form {
  display: flex;
  gap: 10px;
}

#input-search {
  width: 100%;
}

#input-search:focus,
#select-order:focus,
#select-categories:focus {
  outline: none;
  border-color: var(--color-primary-accent);
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}

.producto__card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: var(--transition-duration);
}

.producto__card:hover {
  transform: translateY(-0.3rem);
  box-shadow: var(--box-shadow-hover);
}

.producto__imagen {
  width: 100%;
  aspect-ratio: 2 / 1.3;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.producto__contenido {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100%;
  justify-content: space-between;
}

.producto__cuerpo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.producto__categoria {
  font-size: var(--font-size-xs);
  font-weight: 600;
  width: fit-content;
  padding: 0.5rem 0.7rem;
  border-radius: 3rem;
  background-color: var(--color-background);
}

.producto__nombre {
  color: var(--color-text);
}

.producto__descripcion {
  font-size: var(--font-size-sm);
}

.producto__pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.producto__precio {
  font-size: var(--font-size-lg);
  color: var(--color-primary);
  font-weight: bold;
}

.producto__precio span {
  vertical-align: super;
  font-size: var(--font-size-xs);
  padding-left: 2px;
}

.btn__tertiary--add-product {
  padding: 0.5rem 0.7rem;
  margin-top: auto;
  font-size: var(--font-size-xs);
  border-radius: 3rem;
}

/* ---------------------------
    PANEL ADMIN
   --------------------------- */

.admin-container {
  grid-area: main;
  padding: var(--separation);
  display: flex;
  flex-direction: column;
  gap: var(--separation);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

/* ---------------------------
    PANEL CLIENT
   --------------------------- */

.client-container {
  grid-area: main;
  padding: var(--separation);
  display: flex;
  flex-direction: column;
  gap: var(--separation);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}