@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* ESTILOS ROOT */
:root {
  /* Tipografía y tamaños de fuente */
  --font-family: 'Roboto', sans-serif;
  --font-family-mono: 'Source Code Pro', monospace;
  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.75rem;
  /* Paleta de colores */
  --color-primary: #ff6347;
  --color-primary-accent: #ff4500;
  --color-secondary: #E1E4E3;
  --color-secondary-accent: #B3BCBC;
  --color-tertiary: #07B793;
  --color-tertiary-accent: #0ecda6;
  --color-background: #f0f0f0;
  --color-text: #333;
  --color-white: #fff;
  --color-border: #ddd;
  /* Espaciados */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-base: 0.75rem;
  --space-base-plus: 1.25rem;
  --space-double: 2rem;
  --space-triple: 3rem;
  --space-quadruple: 4rem;
  --max-width: 1200px;
  /* Efectos y animaciones */
  --border-box: 1px solid var(--color-border);
  --border-input: 2px solid var(--color-border);
  --border-radius-sm: 0.5rem;
  --border-radius-base: 1rem;
  --border-radius-double: 2rem;
  --border-radius-triple: 3rem;
  --border-radius-circle: 50%;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 4px 6px rgba(0, 0, 0, 0.3);
  --transition-duration: .3s ease-in-out;
}

/* RESET DE ESTILOS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ESTILOS GENERALES */
html,
body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
  font-family: var(--font-family);
}

h1 {
  font-size: var(--font-size-xxl);
  color: var(--color-primary);
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

p,
label,
span,
li,
button {
  font-size: var(--font-size-sm);
}

input,
textarea,
select {
  font-size: var(--font-size-sm);
  padding: 0.5rem 0.625rem;
  border: var(--border-input);
  border-radius: var(--border-radius-sm);
}

input:disabled,
button:disabled {
  background-color: var(--color-secondary);
  color: var(--color-text);
  cursor: not-allowed;
  opacity: 0.6;
}

/* BUTTONS */
.btn {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:not(:disabled):hover {
  background-color: var(--color-primary-accent);
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.btn--secondary:not(:disabled):hover {
  background-color: var(--color-secondary-accent);
}

.btn--tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

.btn--tertiary:not(:disabled):hover {
  background-color: var(--color-tertiary-accent);
}

.btn--full {
  width: 100%;
}

.btn--add-product {
  font-size: var(--font-size-xs);
  font-weight: 600;
  padding: 0.5rem 0.7rem;
}

.btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn--square {
  width: var(--space-double);
  height: var(--space-double);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--minus,
.btn--plus {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--minus:not(:disabled):hover,
.btn--plus:not(:disabled):hover {
  background-color: var(--color-primary-accent);
}

.btn--trash {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.btn--trash:not(:disabled):hover {
  background-color: var(--color-secondary-accent);
}

/* CARDS */
.card {
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow);
  border: var(--border-box);
}

/* PRICE */
.price {
  font-family: var(--font-family-mono);
  font-weight: bold;
  font-size: var(--font-size-md);
}

.price--whole {
  font-size: var(--font-size-md);
}

.price--decimal {
  vertical-align: super;
  font-size: var(--font-size-xs);
  padding-left: 2px;
}

/* STOCK BADGE */
.stock-badge {
  font-size: var(--font-size-xs);
  width: fit-content;
  padding: 0.5rem 0.7rem;
  border-radius: var(--border-radius-base);
  font-weight: bold;
  color: var(--color-white);
  background-color: color-mix(in srgb, var(--color-tertiary), transparent 20%);
}

.stock-badge--out-of-stock {
  color: var(--color-text);
  background-color: color-mix(in srgb, var(--color-secondary), transparent 20%);
}

/* LINK */
.link {
  text-decoration: none;
  color: var(--color-text);
}

.link:hover>h3 {
  color: var(--color-primary);
  transition: color var(--transition-duration);
}

/* ---------------------------
    LAYOUT
   --------------------------- */

/* BODY */
.layout {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

/* Para páginas sin Sidebar */
.layout--no-sidebar {
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Para páginas sin Footer */
.layout--no-footer {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

/* HEADER */
#header {
  grid-area: header;
  background-color: var(--color-white);
  border-bottom: var(--border-box);
  display: flex;
  justify-content: center;
  z-index: 10;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--space-double);
  height: var(--space-quadruple);
}

.menu {
  display: flex;
  align-items: center;
  gap: var(--space-double);
}

.menu__list {
  display: flex;
  gap: var(--space-double);
  list-style: none;
}

.menu__item a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
  transition: color var(--transition-duration);
}

.menu__item a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.menu__item-badge {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-xs);
  font-weight: bold;
  padding: 2px 5px;
  border-radius: var(--border-radius-circle);
  position: relative;
  top: -10px;
  right: -15px;
  margin-left: -15px;
  z-index: 1;
}

/* SIDEBAR */
#sidebar {
  grid-area: sidebar;
  background-color: var(--color-white);
  padding: var(--space-double);
  display: flex;
  flex-direction: column;
  gap: var(--space-double);
  border-right: var(--border-box);
  overflow-y: auto;
}

#sidebar h2 {
  color: var(--color-primary);
}

/* MAIN */
.main {
  grid-area: main;
  padding: var(--space-double);
  display: flex;
  flex-direction: column;
  gap: var(--space-double);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main__header--no-sidebar {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 var(--space-double);
}

.main__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.main__content--no-sidebar {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 var(--space-double);
}

/* FOOTER */
#footer {
  grid-area: footer;
  background-color: var(--color-white);
  padding: 1rem;
  border-top: var(--border-box);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 var(--space-double);
}

#footer p {
  font-size: var(--font-size-xs);
}

#footer a {
  text-decoration: none;
  color: var(--color-text);
  transition: color var(--transition-duration);
}

#footer a:hover {
  color: var(--color-primary);
}

/* ---------------------------
    LOGIN / REGISTER
   --------------------------- */

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-primary);
}

.auth-card {
  padding: var(--space-double);
  margin: 1.25rem;
  min-width: 22rem;
}

.auth-card__title {
  text-align: center;
  margin-bottom: 0.625rem;
}

.auth-card__subtitle {
  text-align: center;
  margin-bottom: 1.25rem;
}

.auth-card__form {
  display: flex;
  flex-direction: column;
}

.auth-card__form label {
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.auth-card__form input,
.auth-card__form select {
  border: var(--border-input);
  border-radius: var(--border-radius-sm);
  margin-bottom: 1.25rem;
  width: 100%;
}

.auth-card__form input:focus,
.auth-card__form select:focus {
  outline: none;
  border-color: var(--color-primary-accent);
}

.auth-card__form button {
  text-transform: uppercase;
  margin-top: 0.625rem;
}

.auth-card__switch-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1.25rem;
  font-size: 0.875rem;
}

.auth-card__switch-link a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  margin-left: 5px;
  font-size: var(--font-size-sm);
}

.auth-card__switch-link a:hover {
  text-decoration: underline;
}

/* ---------------------------
    SHOP
   --------------------------- */

/* ASIDE */
#category-list li {
  list-style: none;
  margin-bottom: 0.5rem;
}

#category-list li a {
  text-decoration: none;
  color: var(--color-text);
  transition: color var(--transition-duration);
}

#category-list li a:hover {
  color: var(--color-primary);
}

/* MAIN */
.main--store {
  position: relative;
}

.main__sticky-sentinel {
  position: absolute;
}

.search-bar {
  padding: var(--space-base);
  position: sticky;
  top: calc(var(--space-double)*-1);
  z-index: 9;
  transition: margin var(--transition-duration);
}

.search-bar.search-bar--is-sticky {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  margin: 0 calc(var(--space-double)*-1);
}

.search-bar form {
  display: flex;
  gap: 10px;
}

#input-search {
  width: 100%;
}

#input-search:focus,
#select-order:focus,
#select-categories:focus {
  outline: none;
  border-color: var(--color-primary-accent);
}

#product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}

.product__card {
  display: flex;
  flex-direction: column;
  transition: var(--transition-duration);
  position: relative;
}

.product__card:hover {
  transform: translateY(-0.3rem);
  box-shadow: var(--box-shadow-hover);
}



.product__img {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}

.product__stock {
  position: absolute;
  top: var(--space-base);
  right: var(--space-base);
}

.product__content {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100%;
  justify-content: space-between;
}

.product__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product__category {
  font-size: var(--font-size-xs);
  font-weight: 600;
}

.product__name {
  color: var(--color-text);
}

.product__description {
  font-size: var(--font-size-sm);
}

.product__foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.product__price {
  font-size: var(--font-size-lg);
  color: var(--color-primary);
  font-weight: bold;

  & .price--whole {
    font-size: var(--font-size-lg);
  }

  & .price--decimal {
    font-size: var(--font-size-xs);
  }

}

/* ---------------------------
    PRODUCT DETAIL
   --------------------------- */
.product-detail__content {
  display: flex;
  flex-direction: row;
  gap: var(--space-triple);
}

.product-detail__img-container {
  display: flex;
  aspect-ratio: 1 / 1;
  width: 400px;
  height: 100%;
  border-radius: var(--border-radius-base);
}

.product-detail__img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--border-radius-base);
}

.product-detail__details {
  display: flex;
  flex-direction: column;
  gap: var(--space-base-plus);
  padding-top: var(--space-base);
  max-width: calc(var(--max-width)/2);
}

.product-detail__title {
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.product-detail__price span {
  color: var(--color-primary);
  font-weight: bold;
}

.product-detail__price .price--whole {
  font-size: var(--font-size-xxl);
}

.product-detail__price .price--decimal {
  font-size: var(--font-size-base);
}

.product-detail__description {
  font-size: var(--font-size-sm);
}

.product-detail__subtitle {
  font-size: var(--font-size-xs);
  font-weight: bold;
  margin: var(--space-base) 0 calc(var(--space-base)*-1) 0;
}

.product-detail__row {
  display: flex;
  gap: var(--space-base);
  margin-bottom: var(--space-base);
}

.product-detail__row .btn--add-product {
  padding-inline: var(--space-quadruple);
}

/* ---------------------------
    CART
   --------------------------- */

.cart {
  display: flex;
  gap: var(--space-double);
  align-items: flex-start;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.cart__products {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  overflow: visible;
}

.cart__product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-base);
}

.cart__product-info {
  display: flex;
  flex-direction: row;
  gap: var(--space-base);
}

.cart__product-img {
  height: 4rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

.cart__product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-xs);
}

.cart__product-description {
  font-size: var(--font-size-xs);
}

.cart__product-price {
  color: var(--color-primary);
  font-weight: bold;
  font-size: var(--font-size-md);
}

.cart__product-price--subtotal {
  min-width: 105px;
  text-align: right;
}

.cart__product-btns {
  display: flex;
  align-items: center;
  /* gap: var(--space-xs); */
}

.product-qty {
  width: var(--space-triple);
  text-align: center;
  font-weight: bold;
  border: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.product-qty::-webkit-outer-spin-button,
.product-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-qty:focus {
  border: none;
  outline: none;
}

.cart__product-btns .cart__product-price {
  margin: 0 var(--space-base);
}

.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-double);
  padding-top: var(--space-base);
}

.cart__summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-double);
  padding: var(--space-double);


  position: sticky;
  top: var(--space-xs);
}

.cart__summary-title {
  color: var(--color-primary);
  font-size: var(--font-size-lg);
}

.cart__summary-detail {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.cart__summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-base);
}

.cart__summary-row--total p,
#cart-total-amount .price--whole {
  color: var(--color-primary);
  font-weight: bold;
  font-size: var(--font-size-lg);
}

.cart__summary-divider {
  margin: var(--space-base) 0;
  border: 1px solid var(--color-primary);
}

.cart__summary-actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}